<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>61FEE456-C7BC-4EB9-850E-8D7FFCEC4D03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>056DE122-9D72-40C9-8CA6-29E3ACA0564C</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>paste in Markdown</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>26ACA79B-BC8F-4447-8E93-F396BCD4E5DE</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open in browser</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9E81E63F-F305-4CAB-A9CE-33EBF73FD068</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>63F60794-BB56-4415-9372-BAF974C3A7E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>056DE122-9D72-40C9-8CA6-29E3ACA0564C</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Paste in Markdown</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>26ACA79B-BC8F-4447-8E93-F396BCD4E5DE</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open URL in Browser</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9E81E63F-F305-4CAB-A9CE-33EBF73FD068</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>irohatako</string>
	<key>description</key>
	<string>Get gif from Giphy</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Gif Animation</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gif</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>now loading</string>
				<key>script</key>
				<string>require_once("fetchGif.php");</string>
				<key>subtext</key>
				<string>now loading</string>
				<key>title</key>
				<string>Random gif animation</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>63F60794-BB56-4415-9372-BAF974C3A7E1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>![{query}]({query})</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>056DE122-9D72-40C9-8CA6-29E3ACA0564C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>26ACA79B-BC8F-4447-8E93-F396BCD4E5DE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9E81E63F-F305-4CAB-A9CE-33EBF73FD068</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gif</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>php -f searchGif.php -- "{query}"</string>
				<key>subtext</key>
				<string>please input some words</string>
				<key>title</key>
				<string>search Gif</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>61FEE456-C7BC-4EB9-850E-8D7FFCEC4D03</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>this version has some known bugs.</string>
	<key>uidata</key>
	<dict>
		<key>056DE122-9D72-40C9-8CA6-29E3ACA0564C</key>
		<dict>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>26ACA79B-BC8F-4447-8E93-F396BCD4E5DE</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>61FEE456-C7BC-4EB9-850E-8D7FFCEC4D03</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>63F60794-BB56-4415-9372-BAF974C3A7E1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9E81E63F-F305-4CAB-A9CE-33EBF73FD068</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://irohatako.tumblr.com/</string>
</dict>
</plist>
